*{
	margin: 0;
	padding: 0;
}
#container{
	width: 80%;
	margin: 0 auto;
	border: 1px solid #C0C0C0FF;
	box-shadow: 3px 3px 3px #A0A0A0FF;
}
/*上面部分布局*/
#top{
	position: relative;
	width: 95%;
	height: 60px;
	margin: 0 auto;
}
#top #red-small{
	/*float: left;*/
	width: 110px;
	height: 60px;
	background-color: #B54961FF;
	color: white;
}
#top #red-small p{
	padding-top: 40px;
	padding-left: 15px;
	font-size: 12px;
	font-family: "SimHei";
}
#top #date{
	position:absolute;
	top: 43px;
	right: 25px;
	color: #B54961FF;
	font-size: 12px;
}
#top_hr{
	width: 95%;
	height: 3px;
	margin: 0 auto;
	background-color: gray;
}
/*将中间部分分为三个子部分，这里是中间第一个子部分的样式设置*/
#middle-one{
	width: 95%;
	margin: 10px auto;
	position: relative;
}
/*中间第一个子部分的左边样式*/
#middle-one #pic{
	position: relative;
	width: 641px;
	height: 301px;
}
#middle-one img{
	position: absolute;
	z-index: 0;
}
#middle-one #left{
	width: 191px;
	height: 301px;
	background-color: rgba(49,111,77,0.6);
	position: absolute;
	left: 0px;
	z-index: 1;
}
#middle-one #right{
	width: 191px;
	height: 301px;
	background-color: rgba(235,157,153,0.6);
	position: absolute;
	right: 0px;
	z-index: 1;
}
/*中间第一个子部分的右边样式*/
#middle-one #mright{
	margin-left: 73%;
	margin-top: -301px;
	width: 25%;
	height: 300px;
	border-top: 3px solid #B54961FF;
}
#middle-one #mright .up_letter{
	font-size: 24px;
}
#middle-one #mright .normal_letter{
	font-size: 18px;
}
#middle-one #mright #about{
	width: 65px;
	height: 30px;
	border-bottom: 2px solid gray;
}
#middle-one #mright #tec{
	width: 128px;
	height: 30px;
	border-bottom: 2px solid gray;
}
#middle-one #mright #message{
	font-size: 14px;
	font-family: "KaiTi";
	color: #A0A0A0FF;
}
#middle-one #mright #number_700{
	width: 100%;
	color: #43BB86FF;
	font-size: 110px;
	font-style: italic;
}
#middle-one #mright #number_3{
	margin-top: -15px;
	color: #B54961FF;
	font-size: 52px;
	float: left;
}
#middle-one #mright #css{
	position: relative;
	top: 8px;
	font-size: 16px;
	color: #B54961FF;
}
#middle-one #mright #small_css{
	position: relative;
	top: 5px;
	font-size: 10px;
	color: #A0A0A0FF;
}
/*中间第二子部分样式*/
#middle-two{
	width: 641px;
	height: 200px;
	color: #808080FF;
}
#middle-two .middle_two_same{
	width: 220px;
	height: 200px;
	float: left;
}
#middle-two #what{
	margin-left: 24px;
}
#middle-two #when{
	margin-left: 10px;
}
#middle-two #how{
	margin-left: 10px;
	width: 150px;
}
#middle-two .article_title{
	font-size: 14px;
	font-family: 'Microsoft YaHei','Microsoft YaHei UI';
	text-decoration: underline;
	margin-top: 10px;
	margin-bottom: 20px;
}
#middle-two .article_cont{
	font-size: 14px;
	font-family: 'Microsoft YaHei','Microsoft YaHei UI';
}
#middle-two #what_title{
	color: #43BB86FF;
}
#middle-two #when_title{
	color: #D76727FF;
}
#middle-two #how_title{
	color: #B54961FF;
}
#middle-two #how ul{
	font-size: 12px;
	margin-top: 10px;
}
#middle-two #how ul li{
	list-style: none;
}
/*中间第三个子部分样式*/
#middle-three{
	width: 95%;
	margin:10px auto;
	position: relative;
}
#middle-three #three_left1{
	width: 48%;
}
#three_left1  #english span#left1_eng{
	color: #EBEB13FF;
	font-style: italic;
	font-size: 72px;
	font-family: SimHei;
}
#three_left1 span#normal_eng{
	color: rgb(17,69,107);
	font-size: 42px;
	font-style: normal;
	margin-left: 20px;
	line-height: 16px;
	font-family: SimHei;
}
#three_left1 #chinese{
	margin:10px 0;
	font-size: 30px;
	color: rgb(17,69,107);
}
#middle-three hr{
	background-color:  rgb(17,69,107);
	width: 48%;
	height: 2px;
	margin-bottom: 10px;
}
#three_left2{
	width: 48%;
	font-size: 14px;
	color: #808080FF;
}
#three_left2 .paragh{
	text-indent: 30px;
}
#three_left2 #qian{
	font-size: 70px;
	color: #EBEB13FF;
	float: left;
	margin-top: -10px;
	margin-right: 10px;
}
#three_left2 img{
	float: right;
	margin: 10px 10px;
}
#three_right1{
	width: 51%;
	height: 256px;
	position: absolute;
	top: 0px;
	right: 0px;
}
#three_right1 img{
	margin-left: 40px;
}
#three_right1 #floor{
	width: 458px;
	height: 61px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: rgba(139,136,133,0.6);
	line-height: 61px;
	font-family: 'Microsoft YaHei','Microsoft YaHei UI';
	margin-left: 40px;
}
#floor #line3{
	position: absolute;
	top: 10px;
	left: 30px;
	width: 3px;
	height: 44px;
	border-left: 2px solid #43BB86FF;
}
#floor #span_cont_little{
	display: inline-block;
	margin-left: 20px;
	padding-left: 18px;
	font-size: 22px;
	color: white;
}
#floor #span_cont_much{
	margin-left: 10px;
	font-style: italic;
	font-size: 14px;
	color: #43BB86FF
}
#three_right2{
	width: 458px;
	background-color: rgb(238,237,214);
	position: absolute;
	top: 260px;
	right: 53px;
	margin: 20px 0px;
}
#three_right2 ul li{
	font-size: 15px;
	color: #5a5b5b;
	list-style-type: none;
	margin:-8px 0 0 28px;
	/*line-height: 16px;*/
}
.triangle_down {
	width: 0;
	height: 0;
	margin-left: 16px;
	border-width: 0 5px 8px;
	border-style: solid;
	border-color: transparent transparent rgba(37,74,108,1.00);
}
#three_right2 #red{
	width: 260px;
	height: 150px;
	background-color: rgb(212,93,92);
	margin-top: 20px;
	float: left;
	position: relative;
	color: white;
}
#red #zero{
	width: 60px;
	height: 150px;
	font-style: 'Microsoft YaHei','Microsoft YaHei UI';
	font-size: 100px;
	text-align: center;
	line-height: 150px;
	float: left;
}
#red #line86{
	width: 2px;
	height: 86px;
	background-color: white;
	float: left;
	margin-top: 32px;
	margin-left: 3px;
	margin-right: 5px;
}
#red #eng_up{
	width: 260px;
	height: 43px;
	margin:35px 0 0 0;
	font-family: SimHei;
}
#red #hello_world{
	width: 260px;
	height: 43px;
	font-size: 12px;
	font-family: Heiti;
}
#three_right2 #symbol{
	width: 185px;
	height: 130px;
	float: right;
	margin:20px 0;
}
#symbol p{
	font-size: 14px;
	font-family: SimHei;
	padding-top: 16px;
	color: #5a5b5b;
	font-style: italic;
}
#symbol .yinhao{
	font-size: 22px;
	color: rgb(212,93,92);
}
/*底部样式*/
#bottom{
	width: 95%;
	height: 30px;
	margin: 0 auto;
}
#bottom hr{
	height: 1px;
	background-color: #938e8c;
	margin-top: 30px;
}
#bottom #red_word{
	color: rgb(212,93,92);
	font-size: 12px;
	float: right;
}
